.footer {
  background-color: rgb(150, 150, 150);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
}

.footer img {
  height: 40px;
  width: 40px;
  margin: 5px 0px;
}