* {
  border: none;
  text-decoration: none;
}

.food-photo {
  height: 150px;
  width: 150px;
}

.ingredientes-card {
  background-color: transparent;
  border: none;
  display: block;
}

/* login */
.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.login__top-rectangle {
  background-color: #efefef;
  height: 45px;
  margin-bottom: 50px;
  width: 100vw;
}

.login__title {
  margin-bottom: 50px;
}

.login__input, .login__button {
  border-radius: 10px;
  height: 60px;
  margin-bottom: 18px;
  width: 295px;
}

.login__input {
  background-color: #efefef;
}

.login__input::placeholder {
  font-family: Ubuntu , sans-serif;
  font-size: 16px;
  left: 35px;
  margin-left: 30px;
  position: relative;
}

.login__button {
  background-color: #1a1b3a;
  color: white;
  margin-top: 45px;
}

/* ---------------- */

